.conteudo01 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em;
  margin-top: 5rem;
  position: relative;
  gap: 10px;
}

.conteudo01 h1::before {
  content: "";
  display: block;
  width: 8.125rem;
  height: 6.25rem;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  z-index: -1;
  top: 95px;
}

.conteudo01 img {
  max-width: 20rem;
  justify-self: center;
  height: auto;
}

.informação01 {
  align-self: center;
  padding-right: 2em;
}

.titulo {
  font-size: 4.5rem;
  text-align: left;
  margin: 0px;
  line-height: 1.125;
}

.paragrafo01 {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1200px) {
  .titulo {
    font-size: 4rem;
  }
}

@media (max-width: 1030px) {
  .titulo {
    font-size: 3rem;
  }
  .conteudo01 h1::before {
    width: 30px;
    height: 10px;
  }
}

@media (max-width: 800px) {
  .conteudo01 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .conteudo01 {
    grid-template-columns: 1fr;
  }
  .conteudo01 img {
    display: none;
  }
  .conteudo01 h1::before {
    display: none;
  }
}
