.conteudo02 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 5em;
  padding: 3em;
  gap: 3rem;
  margin-bottom: 5rem;
}

.subtitulo01 {
  color: #e0e0e0;
  font-size: 7rem;
  word-break: break-all;
  align-self: center;
  padding: 2rem;
  text-transform: uppercase;
}

.paragrafo02 {
  font-size: 2rem;
  color: #525252;
  padding-right: 4rem;
  text-align: left;
}

.projetos {
  padding: 0px;
}

.descricao_projeto h3::before {
  content: "";
  position: absolute;
  left: 10px;
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f826, #67dd0a);
}

.projetos li {
  gap: 1rem;
}

.ano {
  list-style: none;image.png
  text-decoration: none;
  text-align: center;
  margin-right: 1rem;
}

.bikcraft {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.lista_cargo01 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0px;
}

.lista_cargo01 li {
  display: block;
  padding: 0.4rem;
  background-color: white;
  border-radius: 0.5rem;
}

.surfbot {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.lista_cargo02 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0px;
}

.lista_cargo02 li {
  display: block;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: white;
}

.brafe {
  display: grid;
  grid-template-columns: auto 2fr 1fr;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.lista_cargo03 {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0px;
}

.lista_cargo03 li {
  display: block;
  background-color: white;
  padding: 0.4rem;
}

@media (max-width: 800px) {
 .conteudo02 {
  grid-template-columns: 1fr;
 }
 .subtitulo01 {
  padding: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #414141;
  font-size: 3rem;
  text-transform: capitalize;
  max-width: initial;
 }
 .paragrafo02 {
  font-size: 1rem;
 }
 .descricao_projeto h3::before {
  display: none;
 }
 .ano::before {
  content: "Ano";
 }
 .projetos {
  margin-top: 2rem;
 }
}

@media (max-width: 400px) {
  .bikcraft {
    grid-template-columns: 1fr;
  }
  .surfbot {
    grid-template-columns: 1fr;
  }
  .brafe {
    grid-template-columns: 1fr;
  }
  .ano::before {
    display: none;
  }
}