.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10rem;
  background-color: black;
  color: #a3a3a3;
  font-size: 1em;
  gap: 30px;
}

.paragrafo_rodape {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.3rem;
}

.enderecos {
  font-size: 2.2em;
}

.enderecos a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .enderecos {
    font-size: 1.9rem;
    line-height: 3rem;
  }
}
