.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10rem;
  background-color: black;
  color: #a3a3a3;
  font-size: 1em;
}

.paragrafo_rodape {
  font-size: 1.5em;
  text-align: center;
}

.enderecos {
  font-size: 2em;
  gap: 50px;
}

.enderecos a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
}
